/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  min-width: 320px;
  position: relative;
  background: #fff;
  max-width: 3000px;
  margin: auto;
  color: #3E3E3E; }

header, section, footer {
  margin: auto; }

a {
  text-decoration: none; }
  a:focus {
    outline: none !important; }

a:hover, a:focus, a:active {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, button {
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

figure {
  margin: 0; }
  figure img {
    width: auto;
    max-width: 100%;
    vertical-align: top; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

p, a {
  color: #3E3E3E;
  margin: 0; }

input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important; }

.content-width {
  width: 1200px;
  margin: auto; }

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  color: #151618;
  margin: 0 0 35px; }

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  color: #151618;
  margin: 0 0 10px; }

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #151618;
  margin: 0 0 30px; }

h4 {
  margin: 0 0 30px; }

h5 {
  margin: 0 0 10px; }

h6 {
  margin: 0 0 10px; }

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

input, textarea, button {
  outline: none !important; }

/*----------------------------PAGE-404--------------------------*/
.is-menu header {
  z-index: 999999; }

header {
  z-index: 999;
  position: relative;
  max-height: 0;
  background: transparent; }
  header .top-line {
    padding: 28px 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background: transparent; }
    header .top-line .btn-default {
      width: 160px; }
  header .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  header .logo-wrap {
    width: 240px;
    position: relative;
    top: 3px; }
  header .top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: calc(100% - 240px); }
  header .open-menu {
    display: none; }
  header .btn-wrap {
    margin-left: 80px;
    height: 50px; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 1px; }
    header ul li {
      margin-left: 64px; }
      header ul li a {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #3E3E3E; }
        header ul li a:hover {
          color: #0b6ef3; }
    header ul li:first-child {
      margin: 0; }

.block-404 {
  padding: 220px 0 150px;
  position: relative; }
  .block-404 .bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .block-404 .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .block-404 .text {
    width: 35%; }
  .block-404 figure {
    width: 60%;
    margin-top: -15px; }
  .block-404 h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 160px;
    line-height: 195px;
    color: #151618;
    margin-bottom: 3px; }
  .block-404 p {
    margin-bottom: 26px; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .bg .img-tab, .bg .img-mob {
    display: none; }

.bg + * {
  position: relative;
  z-index: 2; }

.btn-default {
  display: inline-block;
  background: transparent;
  border-radius: 62px;
  height: 50px;
  line-height: 50px !important;
  padding: 0 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px !important;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .btn-default span {
    position: relative;
    z-index: 2; }
  .btn-default:after {
    background: #5684FB;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    content: '';
    opacity: 1;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 62px; }
  .btn-default:before {
    background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    content: '';
    opacity: 1;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 62px;
    z-index: 1; }
  .btn-default:hover:before {
    opacity: 0; }

.is-sticky .top-line {
  background: #fff;
  padding: 10px 0; }

footer {
  padding: 52px 0 50px;
  background: #1A2241; }
  footer .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 27px;
    margin-bottom: 27px;
    border-bottom: 1px solid #444F79; }
  footer .left {
    width: 40%; }
    footer .left .logo-wrap {
      margin-bottom: 10px; }
    footer .left p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #D5E0E9; }
  footer .footer-menu {
    width: 57%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 10px; }
    footer .footer-menu ul {
      width: 195px; }
      footer .footer-menu ul li {
        margin-bottom: 8px; }
        footer .footer-menu ul li a {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #D5E0E9; }
          footer .footer-menu ul li a:hover {
            color: #fff; }
        footer .footer-menu ul li h6 {
          margin: 0; }
          footer .footer-menu ul li h6 a {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF; }
            footer .footer-menu ul li h6 a:hover {
              color: #D5E0E9; }
    footer .footer-menu ul + ul {
      margin-left: 10px; }
  footer .btn-default {
    width: 192px;
    margin-top: 8px; }
  footer .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .bottom p {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #D5E0E9; }
    footer .bottom ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      top: 2px; }
      footer .bottom ul li {
        margin-left: 21px; }
        footer .bottom ul li a:hover {
          opacity: 0.7; }
      footer .bottom ul li:first-child {
        margin-left: 0; }

header .sticky-wrapper {
  min-height: 106px; }

/*---------------------------END-PAGE-404--------------------------*/
/*----------------------------PAGE-ARTICLE--------------------------*/
.article {
  padding: 192px 0 85px; }
  .article figure {
    margin-bottom: 50px;
    width: 785px; }
    .article figure img {
      border-radius: 15px;
      width: auto;
      height: auto; }
  .article .content {
    width: 935px; }
  .article p {
    margin-bottom: 28px; }

.pre-footer {
  position: relative;
  padding: 100px 0;
  background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%); }
  .pre-footer .bg img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .pre-footer .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .pre-footer .item {
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px;
    padding: 26px 25px;
    width: 48.7%;
    position: relative;
    min-height: 182px; }
    .pre-footer .item .after {
      position: absolute;
      top: 22px;
      right: 57px; }
    .pre-footer .item .btn-wrap {
      margin-top: 15px; }
      .pre-footer .item .btn-wrap a {
        width: 203px; }
    .pre-footer .item h6 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
      margin-bottom: 7px; }
    .pre-footer .item p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #3E3E3E;
      margin-bottom: 10px; }
    .pre-footer .item .input-wrap {
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 433px; }
      .pre-footer .item .input-wrap input {
        width: calc(100% - 87px);
        outline: none !important;
        background: transparent;
        border: none;
        height: 50px;
        border-radius: 0;
        line-height: 50px;
        padding: 0;
        font-size: 18px;
        color: #151618;
        position: relative;
        z-index: 2;
        border-bottom: 1px solid #62679A; }
      .pre-footer .item .input-wrap label {
        position: absolute;
        top: 10px;
        left: 0;
        font-size: 18px;
        color: #3E3E3E;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
      .pre-footer .item .input-wrap .is-focus, .pre-footer .item .input-wrap .is-active {
        font-size: 12px;
        top: -8px; }
      .pre-footer .item .input-wrap button {
        width: 66px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background: #FFFFFF;
        border-radius: 62px;
        height: 36px;
        border: 1px solid #fff;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        margin-top: 14px; }
        .pre-footer .item .input-wrap button:hover {
          border: 1px solid #0b6ef3; }

/*---------------------------END-PAGE-ARTICLE--------------------------*/
/*----------------------------PAGE-BLOG--------------------------*/
.blog {
  padding: 191px 0 120px; }
  .blog .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -5px; }
  .blog .item {
    width: 48.7%;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-bottom: 30px; }
    .blog .item a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 30px;
      border-radius: 15px; }
      .blog .item a figure {
        border-radius: 15px;
        width: 154px;
        height: 154px; }
        .blog .item a figure img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover;
          border-radius: 15px; }
      .blog .item a .text-wrap {
        width: calc(100% - 175px);
        padding-top: 12px; }
        .blog .item a .text-wrap h6 {
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 27px;
          color: #151618;
          margin-bottom: 8px; }
        .blog .item a .text-wrap p {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #3E3E3E;
          max-width: 85%; }
    .blog .item:hover {
      -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
              box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8); }

.pagination-wrap {
  padding-top: 35px; }
  .pagination-wrap .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .pagination-wrap .pagination li {
      background: rgba(255, 255, 255, 0.7);
      -webkit-backdrop-filter: blur(7.5px);
              backdrop-filter: blur(7.5px);
      border-radius: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #3E3E3E;
      width: 40px;
      height: 40px;
      margin: 0 7px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
              box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8); }
      .pagination-wrap .pagination li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-style: normal;
        font-weight: 400;
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #3E3E3E; }
        .pagination-wrap .pagination li a:hover {
          -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
                  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8); }
      .pagination-wrap .pagination li:hover {
        -webkit-box-shadow: none;
                box-shadow: none; }

/*---------------------------END-PAGE-BLOG--------------------------*/
/*----------------------------PAGE-ABOUT--------------------------*/
.about-head {
  position: relative;
  padding: 197px 0 95px; }
  .about-head .bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .about-head .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .about-head .left {
    width: 47%; }
  .about-head figure {
    width: 52%;
    padding-top: 40px; }
  .about-head p {
    margin-bottom: 25px; }
  .about-head h1 {
    margin-bottom: 29px; }

.btn-bg {
  border-radius: 15px;
  height: 70px;
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .btn-bg:before {
    background: url("../img/bg-btn.png") no-repeat center;
    border-radius: 15px; }
  .btn-bg:after {
    border-radius: 15px; }
  .btn-bg b {
    font-weight: 600;
    font-size: 48px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    z-index: 2; }

.mission {
  padding: 110px 0 115px;
  position: relative; }
  .mission .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .mission .bg:after {
    position: absolute;
    bottom: -230px;
    content: '';
    width: 547px;
    height: 547px;
    left: -230px;
    background: #4DD4FF;
    opacity: 0.2;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    border-radius: 100%; }
  .mission figure {
    width: 44%;
    text-align: center; }
  .mission .text {
    width: 48.7%;
    padding-top: 10px; }
  .mission p {
    margin-bottom: 25px; }

.story {
  padding: 122px 0 120px;
  position: relative; }
  .story .bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .story .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .story .text {
    width: 48%;
    padding-top: 25px; }
  .story p {
    margin-bottom: 25px; }
  .story figure {
    width: 48.7%;
    border-radius: 15px; }
    .story figure img {
      border-radius: 15px;
      width: 100%;
      background: rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
              box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
      -webkit-backdrop-filter: blur(7.5px);
              backdrop-filter: blur(7.5px); }

.number-block {
  padding: 121px 0 120px; }
  .number-block .content-width {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px 30px; }
  .number-block .item {
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 118px; }
    .number-block .item h6 {
      background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 5px;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
      text-align: center; }
    .number-block .item p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #3E3E3E; }

.video-section .video-wrap {
  padding-top: 56.2%;
  position: relative; }
  .video-section .video-wrap a {
    position: absolute;
    top: 0;
    left: 0; }
  .video-section .video-wrap > img {
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0; }
  .video-section .video-wrap .icon-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    opacity: 0.7;
    width: 128px;
    height: 128px;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0 0 0 20px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
  .video-section .video-wrap:hover .icon-wrap {
    width: 140px;
    height: 140px; }

.section-form {
  padding: 120px 0 120px; }
  .section-form .content {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(93.88deg, #F7F4FF 12.3%, #E9F3FF 88.21%); }
  .section-form .wrap {
    position: relative;
    z-index: 2;
    padding: 50px 50px; }
  .section-form h3 {
    margin-bottom: 40px; }

.form-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .form-default .input-wrap {
    width: 100%;
    position: relative;
    margin-bottom: 20px; }
    .form-default .input-wrap input {
      width: 100%;
      outline: none !important;
      background: transparent;
      border: none;
      height: 50px;
      border-radius: 0;
      line-height: 50px;
      padding: 0;
      font-size: 18px;
      color: #151618;
      position: relative;
      z-index: 2;
      border-bottom: 1px solid #62679A; }
    .form-default .input-wrap label {
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 18px;
      color: #3E3E3E;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
    .form-default .input-wrap .is-focus, .form-default .input-wrap .is-active {
      font-size: 12px;
      top: -8px; }
  .form-default .input-wrap-33 {
    width: calc(33.33% - 20px); }
  .form-default .input-wrap-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    width: 100%; }
    .form-default .input-wrap-submit p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #3E3E3E;
      width: 250px;
      margin-right: 25px; }
    .form-default .input-wrap-submit button {
      border: none;
      cursor: pointer;
      min-width: 160px; }

.video-section .video-wrap a {
  width: 100%; }
  .video-section .video-wrap a > img {
    width: 100%; }

.video-section .video-wrap a > img {
  border-radius: 15px; }

/*---------------------------END-PAGE-ABOUT--------------------------*/
/*----------------------------PAGE-COURSE--------------------------*/
.course-head {
  position: relative;
  padding: 205px 0 110px; }
  .course-head .bg img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover; }
  .course-head .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .course-head .left {
    width: 47%;
    padding-top: 30px; }
  .course-head .stars-wrap {
    margin-bottom: 20px; }
  .course-head h1 {
    margin-bottom: 28px; }
  .course-head p {
    margin-bottom: 30px; }
  .course-head .btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -5px; }
    .course-head .btn-wrap a + a {
      margin-left: 20px; }
    .course-head .btn-wrap .btn-border {
      min-width: 220px; }
  .course-head figure {
    width: 53%; }
    .course-head figure img {
      position: relative;
      height: auto;
      left: -25px; }

.btn-border {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 48px;
  color: #151618;
  height: 50px;
  border: 1px solid #151618;
  border-radius: 62px;
  padding: 0 30px;
  text-align: center; }
  .btn-border:hover {
    color: #0b6ef3;
    border-color: #0b6ef3; }

.course-benefits {
  position: relative;
  padding: 100px 0 72px; }
  .course-benefits .bg:after {
    position: absolute;
    width: 547px;
    height: 547px;
    bottom: 20px;
    left: -50%;
    background: #4DD4FF;
    opacity: 0.2;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    content: '';
    border-radius: 100%; }
  .course-benefits .top {
    width: 550px;
    margin: 0 auto 25px;
    text-align: center; }
    .course-benefits .top p {
      text-align: center; }
  .course-benefits h2 {
    text-align: center;
    margin-bottom: 11px; }
  .course-benefits .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .course-benefits .item {
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 25px 25px; }
    .course-benefits .item h5 {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: #FFFFFF;
      margin: 0; }
    .course-benefits .item h6 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
      margin-bottom: 15px; }
    .course-benefits .item .icon-wrap {
      margin-bottom: 6px; }
  .course-benefits .item-1 {
    width: 100%;
    background: url("../img/bg-7.png") no-repeat center;
    background-size: cover;
    height: 133px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .course-benefits .item-2, .course-benefits .item-3, .course-benefits .item-4 {
    width: calc(33.33% - 20px);
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px); }
  .course-benefits .item-5 {
    width: calc(66.66% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    height: 119px; }
    .course-benefits .item-5 .wrap {
      width: 25%; }
    .course-benefits .item-5 .wrap-1 {
      width: 40%; }
    .course-benefits .item-5 .wrap-3 {
      width: 22%;
      margin-left: 15px; }
  .course-benefits .item-6 {
    width: calc(33.33% - 20px);
    background: url("../img/bg-8.png") no-repeat center;
    background-size: cover;
    height: 119px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .course-benefits .btn-wrap {
    width: 100%;
    text-align: center; }
    .course-benefits .btn-wrap a {
      width: 220px; }

.work {
  background: #EBEEFB;
  padding: 14px 0 0; }
  .work h6 {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #151618;
    width: 175px;
    padding-bottom: 14px; }
  .work .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .work .swiper-slide {
    height: 90px;
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .work .slider-wrap {
    width: calc(100% - 200px); }
  .work .swiper-pagination-progressbar {
    bottom: 0;
    top: inherit;
    background: #D4E1FF;
    border-radius: 9px; }
  .work .work-slider {
    padding-bottom: 14px; }
  .work .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    border-radius: 9px; }

.time-line {
  position: relative;
  padding: 120px 0 122px; }
  .time-line .bg img {
    position: absolute;
    top: 182px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .time-line .bg:after {
    width: 547px;
    height: 547px;
    left: calc(100% - 225px);
    top: 0;
    position: absolute;
    background: #4DD4FF;
    opacity: 0.2;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    content: '';
    border-radius: 100%; }
  .time-line h2 {
    text-align: center;
    margin-bottom: 38px; }
  .time-line .line {
    margin-bottom: 20px; }
    .time-line .line img {
      width: 100%; }
  .time-line .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px; }
  .time-line .item {
    position: relative;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px; }
    .time-line .item p {
      margin-bottom: 15px; }
    .time-line .item h6 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
      margin: 0; }
    .time-line .item:before {
      position: absolute;
      top: -35px;
      left: 27px;
      content: '';
      width: 21px;
      height: 41px;
      background: url("../img/icon-6.svg") no-repeat center;
      background-size: contain; }
  .time-line .item-1:before {
    display: none; }

.founder {
  padding: 110px 0 116px;
  position: relative; }
  .founder .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .founder h2 {
    text-align: center;
    margin-bottom: 30px; }
  .founder .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px; }
  .founder .text {
    width: 51.2%;
    padding: 50px 50px; }
  .founder h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #151618;
    margin-bottom: 10px; }
  .founder h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 12px; }
  .founder figure {
    width: 48.8%;
    border-radius: 0 15px 15px 0;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px); }
    .founder figure img {
      width: 100%;
      border-radius: 0 15px 15px 0; }
  .founder .btn-wrap {
    margin-top: 30px;
    text-align: center; }
/*    .founder .btn-wrap a {
      width: 175px; }*/

.number-block-4n {
  padding: 98px 0 50px; }
  .number-block-4n .content-width {
    grid-template-columns: 1fr 1fr 1fr 1fr; }

.faq-ol {
  padding: 58px 0 100px; }
  .faq-ol h2 {
    text-align: center;
    margin-bottom: 40px; }
  .faq-ol .btn-wrap {
    text-align: center;
    margin-top: 30px; }
    .faq-ol .btn-wrap a {
      width: 220px; }

ol.accordion {
  list-style: none;
  padding: 0;
  margin: 0 0 30px; }
  ol.accordion > li {
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px;
    counter-increment: li;
    margin-bottom: 30px; }
    ol.accordion > li .accordion-thumb {
      cursor: pointer;
      padding: 30px 60px 30px 40px;
      position: relative; }
      ol.accordion > li .accordion-thumb:after {
        position: absolute;
        top: 50%;
        right: 40px;
        content: '';
        width: 23px;
        height: 14px;
        background: url("../img/icon-7.svg") no-repeat center;
        background-size: contain;
        margin-top: 3px; }
    ol.accordion > li h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #151618;
      margin: 0;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
      ol.accordion > li h3:before {
        position: relative;
        margin-right: 10px;
        display: inline-block;
        content: "0" counter(li) ".";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #151618;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
    ol.accordion > li:hover h3 {
      color: #0b6ef3; }
      ol.accordion > li:hover h3:before {
        color: #0b6ef3; }
  ol.accordion > li:last-child {
    margin: 0; }
  ol.accordion .is-active .accordion-thumb:after {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1); }
  ol.accordion .accordion-panel {
    display: none; }
    ol.accordion .accordion-panel .wrap {
      margin-top: -10px;
      padding: 2px 53px 40px; }
    ol.accordion .accordion-panel ul li {
      position: relative;
      padding-left: 15px;
      margin-bottom: 10px; }
      ol.accordion .accordion-panel ul li p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      ol.accordion .accordion-panel ul li b {
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #3E3E3E;
        white-space: nowrap;
        margin-right: 5px; }
      ol.accordion .accordion-panel ul li:before {
        position: absolute;
        top: 12px;
        left: 0;
        content: '';
        width: 4px;
        height: 4px;
        background: #3E3E3E;
        border-radius: 100%; }
    ol.accordion .accordion-panel ul li:last-child {
      margin-bottom: 0; }

.bg-after {
  position: relative; }
  .bg-after .bg:before {
    width: 547px;
    height: 547px;
    background: #35E6BB;
    opacity: 0.1;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    border-radius: 100%;
    bottom: 220px;
    left: -220px;
    content: '';
    position: absolute; }
  .bg-after .bg:after {
    width: 547px;
    height: 547px;
    background: #4DD4FF;
    opacity: 0.2;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    border-radius: 100%;
    top: 65px;
    right: -220px;
    content: '';
    position: absolute; }

.take-course {
  position: relative;
  padding: 110px 0 103px; }
  .take-course .bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .take-course .top {
    margin-bottom: 25px;
    text-align: center; }
    .take-course .top p {
      text-align: center; }
  .take-course h2 {
    text-align: center;
    margin-bottom: 27px; }
  .take-course .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .take-course .item {
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px;
    overflow: hidden;
    padding: 40px;
    width: 49%;
    position: relative; }
    .take-course .item:after {
      position: absolute;
      bottom: -155px;
      right: -98px;
      content: '';
      width: 325px;
      height: 325px;
      background: #E6F1FF;
      border-radius: 100%; }
    .take-course .item h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #151618;
      margin-bottom: 17px;
      max-width: 80%; }
    .take-course .item p.cost {
      font-style: normal;
      font-weight: 600;
      font-size: 54px;
      line-height: 66px;
      background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 15px; }
    .take-course .item .info {
      position: absolute;
      bottom: 35px;
      right: 50px;
      z-index: 2;
      min-width: 115px; }
      .take-course .item .info p {
        margin-bottom: 5px; }
      .take-course .item .info h6 {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #151618;
        margin: 0; }
    .take-course .item .btn-wrap {
      margin-bottom: -10px; }
      .take-course .item .btn-wrap a {
        width: 185px; }
  .take-course .item-1 {
    width: 100%;
    padding: 25px 80px;
    margin-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .take-course .item-1:after {
      display: none; }
    .take-course .item-1 p {
      margin-bottom: 10px; }
    .take-course .item-1 h6 {
      margin-bottom: -2px;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618; }
    .take-course .item-1 .wrap {
      width: 25%; }
    .take-course .item-1 .wrap-3 {
      width: 36%; }
    .take-course .item-1 .wrap-4 {
      width: 14%; }

.course-2item {
  padding: 119px 0 10px; }
  .course-2item h2 {
    text-align: center;
    margin-bottom: 25px; }
  .course-2item .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .course-2item .item {
    width: 49%;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px;
    padding: 22px 27px 35px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    .course-2item .item figure {
      height: 217px;
      margin-bottom: 20px; }
    .course-2item .item .info {
      position: absolute;
      top: 15px;
      right: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%; }
      .course-2item .item .info img {
        margin-right: 5px; }
    .course-2item .item h6 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
      margin-bottom: 15px; }
    .course-2item .item p {
      margin-bottom: 15px; }
    .course-2item .item:hover {
      -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
              box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8); }

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; }
  .link img {
    margin-left: 10px;
    position: relative;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    left: 0; }
  .link:hover img {
    left: 2px; }

.faq-ul {
  padding: 110px 0 100px;
  position: relative; }
  .faq-ul h2 {
    text-align: center;
    margin-bottom: 20px; }
  .faq-ul .btn-wrap {
    margin-top: 30px;
    text-align: center; }
    .faq-ul .btn-wrap a {
      width: 220px; }
  .faq-ul .bg:after {
    position: absolute;
    border-radius: 100%;
    width: 547px;
    height: 547px;
    left: -222px;
    top: 0;
    background: #35E6BB;
    opacity: 0.1;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    content: ''; }

ul.accordion {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 15px;
  overflow: hidden;
  padding: 20px 0; }
  ul.accordion .accordion-item {
    position: relative; }
    ul.accordion .accordion-item:after {
      position: absolute;
      bottom: 0;
      left: 50px;
      right: 50px;
      content: '';
      height: 1px;
      border-bottom: 1px solid #9B9B9B; }
  ul.accordion .accordion-thumb {
    cursor: pointer;
    padding: 30px 50px 30px;
    position: relative; }
    ul.accordion .accordion-thumb:after {
      position: absolute;
      top: 50%;
      right: 50px;
      content: '';
      width: 23px;
      height: 14px;
      background: url(../img/icon-7.svg) no-repeat center;
      background-size: contain;
      margin-top: -14px; }
    ul.accordion .accordion-thumb h6 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
      margin: 0;
      padding-right: 70px; }
  ul.accordion .accordion-panel {
    display: none; }
    ul.accordion .accordion-panel .wrap {
      padding: 0 50px 30px;
      margin: -20px 0 0; }
      ul.accordion .accordion-panel .wrap p {
        margin-bottom: 20px; }
      ul.accordion .accordion-panel .wrap p:last-child {
        margin-bottom: 0; }
  ul.accordion .accordion-item:last-child:after {
    display: none; }
  ul.accordion .is-active .accordion-thumb:after {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1); }

.reviews {
  padding: 105px 0 110px;
  position: relative; }
  .reviews .bg:after {
    position: absolute;
    width: 547px;
    height: 547px;
    bottom: 30px;
    right: -220px;
    background: #4DD4FF;
    opacity: 0.2;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    content: '';
    border-radius: 100%; }
  .reviews h2 {
    text-align: center;
    margin-bottom: 0; }
  .reviews .btn-wrap {
    margin-top: 10px;
    text-align: center; }
    .reviews .btn-wrap a {
      width: 180px; }

.reviews-slider {
  padding: 20px;
  margin-left: -20px;
  width: calc(100% + 40px);
  max-width: calc(100% + 40px); }
  .reviews-slider .swiper-slide {
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px;
    padding: 25px 25px; }
    .reviews-slider .swiper-slide .text {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #ADAACF; }
      .reviews-slider .swiper-slide .text p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #3E3E3E; }
  .reviews-slider .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .reviews-slider .name figure {
      padding: 10px;
      width: 58px; }
      .reviews-slider .name figure img {
        width: 100%;
        height: auto;
        border-radius: 20px; }
    .reviews-slider .name .wrap {
      width: calc(100% - 60px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .reviews-slider .name .wrap h6 {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #151618;
        margin-bottom: 0; }
      .reviews-slider .name .wrap p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #3E3E3E; }

.swiper-pagination-bullets {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px; }
  .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #D0D6EE;
    border: 1px solid #D0D6EE;
    margin: 0 8px !important;
    opacity: 1 !important; }
    .swiper-pagination-bullets .swiper-pagination-bullet:hover {
      border: 1px solid #0b6ef3; }
  .swiper-pagination-bullets .swiper-pagination-bullet-active {
    border: 1px solid #0b6ef3;
    background: #0b6ef3; }

.video-section {
  padding: 100px 0 100px;
  position: relative; }
  .video-section h2 {
    text-align: center;
    margin-bottom: 20px; }

.video-section-slider {
  padding: 1px 0 120px; }
  .video-section-slider .video-wrap {
    padding-top: 63.2%; }

.founder figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

/*---------------------------END-PAGE-COURSE--------------------------*/
/*--------------------------PAGE-HOME--------------------------*/
.home-head {
  padding-bottom: 3px; }

  .home-head figure img {
    width: 680px;
    position: relative;
    max-width: inherit;
    top: -60px;
    left: 25px; }
  .home-head .btn-wrap a {
    width: 155px;
    padding: 0 20px; }
  .home-head .btn-wrap .btn-border {
    min-width: 170px !important; }

.register {
  padding: 100px 0 20px; }
  .register .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px; }
  .register .text {
    position: relative;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
    background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
    width: 51%;
    padding: 75px 50px; }
    .register .text .wrap {
      position: relative;
      z-index: 2; }
    .register .text * {
      color: #fff; }
  .register .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .register .form-wrap {
    width: 49%;
    padding: 62px 51px; }
  .register h3 {
    margin-bottom: 20px; }
  .register p + p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px; }
    .register p + p img {
      margin-right: 15px; }
  .register .form-default .input-wrap {
    margin-bottom: 15px; }
  .register .form-default .input-wrap-submit button {
    width: 185px; }
  .register .form-default .input-wrap-submit {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.course-3item {
  padding: 80px 0 105px;
  position: relative; }
  .course-3item .item {
    width: calc(33.33% - 20px); }
  .course-3item .bg img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.number-block-top {
  position: relative;
  padding: 95px 0 85px; }
  .number-block-top .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .number-block-top .top {
    width: 600px;
    margin: 0 auto 25px; }
    .number-block-top .top p {
      text-align: center;
      padding: 0 20px; }
  .number-block-top h2 {
    text-align: center;
    margin-bottom: 26px; }
  .number-block-top .btn-wrap {
    margin-top: 25px;
    text-align: center; }
    .number-block-top .btn-wrap a {
      width: 175px; }

.text-block {
  position: relative;
  padding: 120px 0 0; }
  .text-block .bg span {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .text-block .bg span:before {
      position: absolute;
      bottom: 170px;
      right: -220px;
      content: '';
      width: 547px;
      height: 547px;
      background: #35E6BB;
      opacity: 0.1;
      -webkit-filter: blur(100px);
              filter: blur(100px);
      border-radius: 100%; }
  .text-block .bg:after {
    position: absolute;
    top: 950px;
    left: -220px;
    content: '';
    width: 547px;
    height: 547px;
    background: #35E6BB;
    opacity: 0.1;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    border-radius: 100%; }
  .text-block .bg:before {
    position: absolute;
    top: 200px;
    right: -220px;
    content: '';
    width: 547px;
    height: 547px;
    background: #35E6BB;
    opacity: 0.1;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    border-radius: 100%; }
  .text-block .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 90px; }
    .text-block .item figure {
      width: 310px; }
    .text-block .item .text {
      width: calc(100% - 410px); }
  .text-block h2 {
    margin-bottom: 25px; }
  .text-block .btn-wrap {
    margin-top: 23px; }
    .text-block .btn-wrap a {
      width: 180px; }
  .text-block .item:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .text-block ul {
    margin-bottom: 10px; }
    .text-block ul li {
      padding-left: 27px;
      position: relative; }
      .text-block ul li:before {
        position: absolute;
        top: 14px;
        left: 12px;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        content: '';
        background: #3E3E3E; }
  .text-block p {
    margin-bottom: 10px; }
  .text-block .item:last-child {
    margin-bottom: 0; }


  .article-block .content{
    width: 100%!important;
  }
.article-block{
  position: relative;
  z-index: 1;
}

.article-block h3{
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: #151618;
  margin: 0 0 15px;
}

.article-block p{
  margin-bottom: 20px;
}
header ul li{
  position: relative;
}
header ul li>ul{
  position: absolute;
  top: 100%;
  left: -30px;
  background: #fff;
  border-radius: 10px;
  padding: 15px 30px;
  transform: scale(0);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  display: block!important;
}
header ul li>ul li{
  margin: 0!important;
}
header ul li:hover ul{
  transform: scale(1);
}

header ul li>ul li a{
  font-size: 16px;
  line-height: 34px;
  display: inline-block;
  white-space: nowrap;
}
.article ul{
  margin-bottom: 30px;
}
.article ul li{
  position: relative;
  padding-left: 15px;
}
.article ul li:before{
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  content: '';
  background: #000;
}
/*-------------------------END-PAGE-HOME--------------------------*/

/*# sourceMappingURL=styles.css.map */