/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  min-width: 320px;
  position: relative;
  background: #fff;
  max-width: 3000px;
  margin: auto;
  color: #3E3E3E; }

header, section, footer {
  margin: auto; }

a {
  text-decoration: none; }
  a:focus {
    outline: none !important; }

a:hover, a:focus, a:active {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, button {
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

figure {
  margin: 0; }
  figure img {
    width: auto;
    max-width: 100%;
    vertical-align: top; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

p, a {
  color: #3E3E3E;
  margin: 0; }

input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important; }

.content-width {
  width: 1200px;
  margin: auto; }

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  color: #151618;
  margin: 0 0 35px; }

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  color: #151618;
  margin: 0 0 10px; }

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #151618;
  margin: 0 0 30px; }

h4 {
  margin: 0 0 30px; }

h5 {
  margin: 0 0 10px; }

h6 {
  margin: 0 0 10px; }

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

input, textarea, button {
  outline: none !important; }

/*----------------------------PAGE-404--------------------------*/
.is-menu header {
  z-index: 999999; }

header {
  z-index: 999;
  position: relative;
  max-height: 0;
  background: transparent; }
  header .top-line {
    padding: 28px 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background: transparent; }
    header .top-line .btn-default {
      width: 160px; }
  header .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  header .logo-wrap {
    width: 240px;
    position: relative;
    top: 3px; }
  header .top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: calc(100% - 240px); }
  header .open-menu {
    display: none; }
  header .btn-wrap {
    margin-left: 80px;
    height: 50px; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 1px; }
    header ul li {
      margin-left: 64px; }
      header ul li a {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #3E3E3E; }
        header ul li a:hover {
          color: #0b6ef3; }
    header ul li:first-child {
      margin: 0; }

.block-404 {
  padding: 220px 0 150px;
  position: relative; }
  .block-404 .bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .block-404 .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .block-404 .text {
    width: 35%; }
  .block-404 figure {
    width: 60%;
    margin-top: -15px; }
  .block-404 h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 160px;
    line-height: 195px;
    color: #151618;
    margin-bottom: 3px; }
  .block-404 p {
    margin-bottom: 26px; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .bg .img-tab, .bg .img-mob {
    display: none; }

.bg + * {
  position: relative;
  z-index: 2; }

.btn-default {
  display: inline-block;
  background: transparent;
  border-radius: 62px;
  height: 50px;
  line-height: 50px !important;
  padding: 0 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px !important;
  color: #fff;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .btn-default span {
    position: relative;
    z-index: 2; }
  .btn-default:after {
    background: #5684FB;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    content: '';
    opacity: 1;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 62px; }
  .btn-default:before {
    background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    content: '';
    opacity: 1;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 62px;
    z-index: 1; }
  .btn-default:hover:before {
    opacity: 0; }

.is-sticky .top-line {
  background: #fff;
  padding: 10px 0; }

footer {
  padding: 52px 0 50px;
  background: #1A2241; }
  footer .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 27px;
    margin-bottom: 27px;
    border-bottom: 1px solid #444F79; }
  footer .left {
    width: 40%; }
    footer .left .logo-wrap {
      margin-bottom: 10px; }
    footer .left p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #D5E0E9; }
  footer .footer-menu {
    width: 57%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 10px; }
    footer .footer-menu ul {
      width: 195px; }
      footer .footer-menu ul li {
        margin-bottom: 8px; }
        footer .footer-menu ul li a {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #D5E0E9; }
          footer .footer-menu ul li a:hover {
            color: #fff; }
        footer .footer-menu ul li h6 {
          margin: 0; }
          footer .footer-menu ul li h6 a {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF; }
            footer .footer-menu ul li h6 a:hover {
              color: #D5E0E9; }
    footer .footer-menu ul + ul {
      margin-left: 10px; }
  footer .btn-default {
    width: 192px;
    margin-top: 8px; }
  footer .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .bottom p {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #D5E0E9; }
    footer .bottom ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      top: 2px; }
      footer .bottom ul li {
        margin-left: 21px; }
        footer .bottom ul li a:hover {
          opacity: 0.7; }
      footer .bottom ul li:first-child {
        margin-left: 0; }

header .sticky-wrapper {
  min-height: 106px; }

/*---------------------------END-PAGE-404--------------------------*/
/*----------------------------PAGE-ARTICLE--------------------------*/
.article {
  padding: 192px 0 85px; }
  .article figure {
    margin-bottom: 50px;
    width: 785px; }
    .article figure img {
      border-radius: 15px;
      width: auto;
      height: auto; }
  .article .content {
    width: 935px; }
  .article p {
    margin-bottom: 28px; }

.pre-footer {
  position: relative;
  padding: 100px 0;
  background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%); }
  .pre-footer .bg img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .pre-footer .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .pre-footer .item {
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px;
    padding: 26px 25px;
    width: 48.7%;
    position: relative;
    min-height: 182px; }
    .pre-footer .item .after {
      position: absolute;
      top: 22px;
      right: 57px; }
    .pre-footer .item .btn-wrap {
      margin-top: 15px; }
      .pre-footer .item .btn-wrap a {
        width: 203px; }
    .pre-footer .item h6 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
      margin-bottom: 7px; }
    .pre-footer .item p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #3E3E3E;
      margin-bottom: 10px; }
    .pre-footer .item .input-wrap {
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 433px; }
      .pre-footer .item .input-wrap input {
        width: calc(100% - 87px);
        outline: none !important;
        background: transparent;
        border: none;
        height: 50px;
        border-radius: 0;
        line-height: 50px;
        padding: 0;
        font-size: 18px;
        color: #151618;
        position: relative;
        z-index: 2;
        border-bottom: 1px solid #62679A; }
      .pre-footer .item .input-wrap label {
        position: absolute;
        top: 10px;
        left: 0;
        font-size: 18px;
        color: #3E3E3E;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
      .pre-footer .item .input-wrap .is-focus, .pre-footer .item .input-wrap .is-active {
        font-size: 12px;
        top: -8px; }
      .pre-footer .item .input-wrap button {
        width: 66px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background: #FFFFFF;
        border-radius: 62px;
        height: 36px;
        border: 1px solid #fff;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        margin-top: 14px; }
        .pre-footer .item .input-wrap button:hover {
          border: 1px solid #0b6ef3; }

/*---------------------------END-PAGE-ARTICLE--------------------------*/
/*----------------------------PAGE-BLOG--------------------------*/
.blog {
  padding: 191px 0 120px; }
  .blog .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -5px; }
  .blog .item {
    width: 48.7%;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-bottom: 30px; }
    .blog .item a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 30px;
      border-radius: 15px; }
      .blog .item a figure {
        border-radius: 15px;
        width: 154px;
        height: 154px; }
        .blog .item a figure img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover;
          border-radius: 15px; }
      .blog .item a .text-wrap {
        width: calc(100% - 175px);
        padding-top: 12px; }
        .blog .item a .text-wrap h6 {
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 27px;
          color: #151618;
          margin-bottom: 8px; }
        .blog .item a .text-wrap p {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #3E3E3E;
          max-width: 85%; }
    .blog .item:hover {
      -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
              box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8); }

.pagination-wrap {
  padding-top: 35px; }
  .pagination-wrap .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .pagination-wrap .pagination li {
      background: rgba(255, 255, 255, 0.7);
      -webkit-backdrop-filter: blur(7.5px);
              backdrop-filter: blur(7.5px);
      border-radius: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #3E3E3E;
      width: 40px;
      height: 40px;
      margin: 0 7px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
              box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8); }
      .pagination-wrap .pagination li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-style: normal;
        font-weight: 400;
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #3E3E3E; }
        .pagination-wrap .pagination li a:hover {
          -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
                  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8); }
      .pagination-wrap .pagination li:hover {
        -webkit-box-shadow: none;
                box-shadow: none; }

/*---------------------------END-PAGE-BLOG--------------------------*/
/*----------------------------PAGE-ABOUT--------------------------*/
.about-head {
  position: relative;
  padding: 197px 0 95px; }
  .about-head .bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .about-head .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .about-head .left {
    width: 47%; }
  .about-head figure {
    width: 52%;
    padding-top: 40px; }
  .about-head p {
    margin-bottom: 25px; }
  .about-head h1 {
    margin-bottom: 29px; }

.btn-bg {
  border-radius: 15px;
  height: 70px;
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .btn-bg:before {
    background: url("../img/bg-btn.png") no-repeat center;
    border-radius: 15px; }
  .btn-bg:after {
    border-radius: 15px; }
  .btn-bg b {
    font-weight: 600;
    font-size: 48px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    z-index: 2; }

.mission {
  padding: 110px 0 115px;
  position: relative; }
  .mission .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .mission .bg:after {
    position: absolute;
    bottom: -230px;
    content: '';
    width: 547px;
    height: 547px;
    left: -230px;
    background: #4DD4FF;
    opacity: 0.2;
    -webkit-filter: blur(100px);
            filter: blur(100px); }
  .mission figure {
    width: 44%;
    text-align: center; }
  .mission .text {
    width: 48.7%;
    padding-top: 10px; }
  .mission p {
    margin-bottom: 25px; }

.story {
  padding: 122px 0 120px;
  position: relative; }
  .story .bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .story .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .story .text {
    width: 48%;
    padding-top: 25px; }
  .story p {
    margin-bottom: 25px; }
  .story figure {
    width: 48.7%;
    border-radius: 15px; }
    .story figure img {
      border-radius: 15px;
      width: 100%;
      background: rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
              box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
      -webkit-backdrop-filter: blur(7.5px);
              backdrop-filter: blur(7.5px); }

.number-block {
  padding: 121px 0 120px; }
  .number-block .content-width {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px 30px; }
  .number-block .item {
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 118px; }
    .number-block .item h6 {
      background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 5px;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
      text-align: center; }
    .number-block .item p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #3E3E3E; }

.video-section .video-wrap {
  padding-top: 56.2%;
  position: relative; }
  .video-section .video-wrap a {
    position: absolute;
    top: 0;
    left: 0; }
  .video-section .video-wrap > img {
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0; }
  .video-section .video-wrap .icon-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    opacity: 0.7;
    width: 128px;
    height: 128px;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0 0 0 20px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
  .video-section .video-wrap:hover .icon-wrap {
    width: 140px;
    height: 140px; }

.section-form {
  padding: 120px 0 120px; }
  .section-form .content {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(93.88deg, #F7F4FF 12.3%, #E9F3FF 88.21%); }
  .section-form .wrap {
    position: relative;
    z-index: 2;
    padding: 50px 50px; }
  .section-form h3 {
    margin-bottom: 40px; }

.form-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .form-default .input-wrap {
    width: 100%;
    position: relative;
    margin-bottom: 20px; }
    .form-default .input-wrap input {
      width: 100%;
      outline: none !important;
      background: transparent;
      border: none;
      height: 50px;
      border-radius: 0;
      line-height: 50px;
      padding: 0;
      font-size: 18px;
      color: #151618;
      position: relative;
      z-index: 2;
      border-bottom: 1px solid #62679A; }
    .form-default .input-wrap label {
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 18px;
      color: #3E3E3E;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
    .form-default .input-wrap .is-focus, .form-default .input-wrap .is-active {
      font-size: 12px;
      top: -8px; }
  .form-default .input-wrap-33 {
    width: calc(33.33% - 20px); }
  .form-default .input-wrap-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    width: 100%; }
    .form-default .input-wrap-submit p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #3E3E3E;
      width: 250px;
      margin-right: 25px; }
    .form-default .input-wrap-submit button {
      border: none;
      cursor: pointer;
      min-width: 160px; }

/*---------------------------END-PAGE-ABOUT--------------------------*/

/*# sourceMappingURL=styles.css.map */