section.about_us_anovamed_content {
    padding-bottom: 60px;
    @media (min-width: 1024px) {
        padding-bottom: 30px;
    }
    .about_us_anovamed_page {
        display: flex;
        flex-direction: column;
        @media (min-width: 1024px) {
            flex-direction: inherit;
        }

        .about_us_anovamed_title {
            .about_us_anovamed_page_title {
                font-weight: 400;
                font-size: 28px;
                line-height: 32px;
                color: #002b4d;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                padding-bottom: 29px;
                @media (min-width: 1024px) {
                    font-size: 39px;
                    line-height: 46px;
                    // max-width: 686px;
                    display: block;
                }
                span {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: #c6643c;
                    margin-right: 0px;
                    margin-bottom: 14px;
                    @media (min-width: 1024px) {
                        margin-right: 259px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .about_us_text {
            p.about_us_anovamed_page_text {
                font-weight: 400;
                font-size: 14px;
                line-height: 25px;
                color: #002b4d;
                max-width: 100%;
                @media (min-width: 1024px) {
                    max-width: 686px;
                    font-size: 16px;
                    line-height: 28px;
                    width: 476px;
                }
            }
        }
    }
}
body.page-template.page-template-template-pages.page-template-about_us.page-template-template-pagesabout_us-php.page
    .landuage
    p {
    color: #284f7e;
}
body.page-template.page-template-template-pages.page-template-contacts.page-template-template-pagescontacts-php.page
    .landuage
    p {
    color: #284f7e;
}
body.page-template.page-template-template-pages.page-template-privacy_policy.page-template-template-pagesprivacy_policy-php.page
    .landuage
    p {
    color: #284f7e;
}
body.page-template.page-template-template-pages.page-template-imprint.page-template-template-pagesimprint-php.page
    .landuage
    p {
    color: #284f7e;
    margin-left: auto;
    position: relative;
    ::after {
        content: "";
        background-image: url("../../images/down_black.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 11px;
        height: 7px;
        right: -15px;
        top: 6px;
    }
}
// @media (max-width: 1024px) {
//     section.about_us_anovamed_content {
//         padding-bottom: 30px;
//     }
//     section.about_us_anovamed_content .about_us_anovamed_page .about_us_anovamed_title .about_us_anovamed_page_title {
//         font-size: 25px;
//         line-height: 30px;
//         display: block;
//     }
//     section.about_us_anovamed_content .about_us_anovamed_page .about_us_text p.about_us_anovamed_page_text {
//         max-width: 100%;
//         font-size: 15px;
//         line-height: 20px;
//         width: 100%;
//     }
//     section.about_us_anovamed_content
//         .about_us_anovamed_page
//         .about_us_anovamed_title
//         .about_us_anovamed_page_title
//         span {
//         margin-right: 159px;
//     }
// }
