section.texts_section {
    padding-bottom: 100px;

    .texts_list {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .text_box {
            max-width: 100%;
            width: 760px;
        }
        p.texts_time {
            font-weight: 600;
            font-size: 54px;
            line-height: 66px;
            color: #151618;
            padding-bottom: 16px;
        }
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #3e3e3e;
        }
        a.button {
            padding: 18px 48px;
            background: linear-gradient(90.7deg, #0b6ef3 16.3%, #2884ff 89.52%);
            border-radius: 62px;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
        }
        .button_items {
            padding-top: 50px;
        }
        .texts_text p {
            padding-bottom: 14px;
        }
        .texts_text li {
            list-style: disc;
            margin-left: 25px;
            line-height: 27px;
        }
    }
    .texts_list:nth-child(2n) {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 150px;
        padding-bottom: 100px;
    }
}
