section.page_error {
  height: 100vh;
  .page_error_container {
    width: 100%;
    height: 100vh;
    padding: 298px 43px 100px 43px;

    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      padding: 298px 193px 100px 193px;
    }

    h1.error-title {
      font-weight: 400;
      font-size: 80px;
      line-height: 94px;
      text-transform: uppercase;
      color: #002b4d;
    }
    p.error_text {
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #14233a;
    }
    a.error_button {
      background: #274f7e;
      border-radius: 97px;
      padding: 10px;
      color: #fff;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 20px;
      font-weight: 800;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
      :hover {
        background-color: #c6643c;
      }
    }
  }
}
