section.imprint_section {
    background-image: none;
    background-repeat: no-repeat;
    background-position: unset;
    position: relative;
    z-index: -1;
    @media (min-width: 768px) {
        background-image: url("../../images/imp_img.svg");
    }
    .imprint_section_content {
        padding-top: 150px;
        h1.imprint_section_title {
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;
            text-transform: uppercase;
            color: #002b4d;
            text-align: left;
            padding-bottom: 48px;
            @media (min-width: 768px) {
                font-size: 80px;
                line-height: 94px;
                text-align: center;
            }
        }
        .imprint_list {
            display: flex;
            gap: 12px;
            margin-bottom: 50px;
            flex-direction: column;
            @media (min-width: 1024px) {
                flex-direction: inherit;
                gap: 100px;
            }
        }
        h3.imprint_sub_title {
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: #002b4d;
            width: 227px;
        }
        .imprint_sub_text {
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #002b4d;
            @media (min-width: 768px) {
                width: 750px;
            }
        }
    }
}
