$accent: #3E3E3E;
$red: #ff0007;
$blue: rgba(11, 110, 243, 1);
/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body{
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  min-width: 320px;
  position: relative;
  background: #fff;
  max-width: 3000px;
  margin: auto;
  color: $accent;
}

header, section, footer{
  margin: auto;
}

a{
  text-decoration: none;
  &:focus{
    outline: none!important;
  }
}

a:hover, a:focus, a:active{
  text-decoration: none;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, button{
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
figure{
  margin: 0;
  img{
    width: auto;
    max-width: 100%;
    vertical-align: top;
  }
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
  }
}
p, a{
  color: $accent;
  margin: 0;
}
input{
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
}
.content-width{
  width: 1200px;
  margin: auto;
}
h1{
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  color: #151618;
  margin: 0 0 35px;
}

h2{
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  color: #151618;
  margin: 0 0 10px;
}
h3{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #151618;
  margin: 0 0 30px;
}
h4{
  margin: 0 0 30px;
}
h5{
  margin: 0 0 10px;
}
h6{
  margin: 0 0 10px;
}

input:invalid {
  box-shadow: none;
}

input, textarea, button{
  outline: none!important;
}
/*----------------------------PAGE-404--------------------------*/
.is-menu header{
  z-index: 999999;
}

  header{
    z-index: 999;
    position: relative;
    max-height: 0;
    background: transparent;
    .top-line{
      padding: 28px 0;
      transition: all .4s ease;
      background: transparent;
      .btn-default{
        width: 160px;
      }
    }
    .content-width{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo-wrap{
      width: 240px;
      position: relative;
      top: 3px;
    }
    .top-menu{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: calc(100% - 240px);
    }
    .open-menu{
      display: none;
    }
    .btn-wrap{
      margin-left: 80px;
      height: 50px;
    }
    ul{
      display: flex;
      position: relative;
      top: 1px;
      li{
        margin-left: 64px;
        a{
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          color: #3E3E3E;
          &:hover{
            color: $blue;
          }
        }
      }
      li:first-child{
        margin: 0;
      }
    }
  }
  .block-404{
    padding: 220px 0 150px;
    position: relative;
    .bg{
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .text{
      width: 35%;
    }
    figure{
      width: 60%;
      margin-top: -15px;
    }
    h1{
      font-style: normal;
      font-weight: 600;
      font-size: 160px;
      line-height: 195px;
      color: #151618;
      margin-bottom: 3px;
    }
    p{
      margin-bottom: 26px;
    }
  }
  .bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .img-tab, .img-mob{
      display: none;
    }
  }
  .bg + *{
    position: relative;
    z-index: 2;
  }
  .btn-default{
    display: inline-block;
    background: transparent;
    border-radius: 62px;
    height: 50px;
    line-height: 50px!important;
    padding: 0 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px!important;
    color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    span{
      position: relative;
      z-index: 2;
    }
    &:after{
      background: #5684FB;
      position: absolute;
      bottom: 0;
      left: 0;
      top:0;
      right: 0;
      content: '';
      opacity: 1;
      transition: all .4s ease;
      border-radius: 62px;
    }
    &:before{
      background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
      position: absolute;
      bottom: 0;
      left: 0;
      top:0;
      right: 0;
      content: '';
      opacity: 1;
      transition: all .4s ease;
      border-radius: 62px;
      z-index: 1;
    }
    &:hover{

      &:before{
        opacity: 0;
      }
    }
  }
.is-sticky .top-line{
  background: #fff;
  padding: 10px 0;
}

footer{
  padding: 52px 0 50px;
  background: #1A2241;
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 27px;
    margin-bottom: 27px;
    border-bottom: 1px solid #444F79;
  }
  .left{
    width: 40%;
    .logo-wrap{
      margin-bottom: 10px;
    }
    p{
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #D5E0E9;
    }
  }
  .footer-menu{
    width: 57%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: 10px;
    ul{
      width: 195px;
      li{
        margin-bottom: 8px;
        a{
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #D5E0E9;
          &:hover{
            color: #fff;
          }
        }
        h6{
          margin: 0;
          a{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
            &:hover{
              color: #D5E0E9;
            }
          }
        }
      }
    }
    ul + ul{
      margin-left: 10px;
    }
  }
  .btn-default{
    width: 192px;
    margin-top: 8px;
  }
  .bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    p{
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #D5E0E9;
    }
    ul{
      display: flex;
      align-items: center;
      position: relative;
      top: 2px;
      li{
        margin-left: 21px;
        a{
          &:hover{
            opacity: 0.7;
          }
        }
      }
      li:first-child{
        margin-left: 0;
      }
    }
  }
}

header{
  .sticky-wrapper{
    min-height: 106px;
  }
}
/*---------------------------END-PAGE-404--------------------------*/
/*----------------------------PAGE-ARTICLE--------------------------*/
.article{
  padding: 192px 0 85px;
  figure{
    margin-bottom: 50px;
    width: 785px;
    img{
      border-radius: 15px;
      width: auto;
      height: auto;
    }
  }
  .content{
    width: 935px;
  }
  p{
    margin-bottom: 28px;
  }
}

.pre-footer{
  position: relative;
  padding: 100px 0;
  background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
  .bg{
    img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .item{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;
    padding: 26px 25px;
    width: 48.7%;
    position: relative;
    min-height: 182px;
    .after{
      position: absolute;
      top: 22px;
      right: 57px;
    }
    .btn-wrap{
      margin-top: 15px;
      a{
        width: 203px;
      }
    }
    h6{
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
      margin-bottom: 7px;
    }
    p{
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #3E3E3E;
      margin-bottom: 10px;
    }
    .input-wrap{
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 433px;
      input{
        width: calc(100% - 87px);
        outline: none!important;
        background: transparent;
        border: none;
        height: 50px;
        border-radius: 0;
        line-height: 50px;
        padding: 0;
        font-size: 18px;
        color: #151618;
        position: relative;
        z-index: 2;
        border-bottom: 1px solid #62679A;
      }
      label{
        position: absolute;
        top: 10px;
        left: 0;
        font-size: 18px;
        color: #3E3E3E;
        transition: all .4s ease;
      }
      .is-focus, .is-active{
        font-size: 12px;
        top: -8px;
      }
      button{
        width: 66px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        border-radius: 62px;
        height: 36px;
        border: 1px solid #fff;
        transition: all .4s ease;
        margin-top: 14px;
        &:hover{
          border: 1px solid rgba(11, 110, 243, 1);
        }
      }
    }
  }
}
/*---------------------------END-PAGE-ARTICLE--------------------------*/
/*----------------------------PAGE-BLOG--------------------------*/
.blog{
  padding: 191px 0 120px;
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -5px;
  }
  .item{
    width: 48.7%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;
    transition: all .4s ease;
    margin-bottom: 30px;
    a{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px;
      border-radius: 15px;
      figure{
        border-radius: 15px;
        width: 154px;
        height: 154px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
        }
      }
      .text-wrap{
        width: calc(100% - 175px);
        padding-top: 12px;
        h6{
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 27px;
          color: #151618;
          margin-bottom: 8px;
        }
        p{
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #3E3E3E;
          max-width: 85%;
        }
      }
    }
    &:hover{
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    }
  }
}
.pagination-wrap{
  padding-top: 35px;
  .pagination{
    display: flex;
    justify-content: center;
    li{
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(7.5px);
      border-radius: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #3E3E3E;
      width: 40px;
      height: 40px;
      margin: 0 7px;
      display: flex;
      transition: all .4s ease;
      justify-content: center;
      align-items: center;box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #3E3E3E;

        &:hover{
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
        }
      }
      &:hover{
        box-shadow: none;
      }
    }
  }
}
/*---------------------------END-PAGE-BLOG--------------------------*/
/*----------------------------PAGE-ABOUT--------------------------*/
.about-head{
  position: relative;
  padding: 197px 0 95px;
  .bg{
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .left{
    width: 47%;
  }
  figure{
    width: 52%;
    padding-top: 40px;
  }
  p{
    margin-bottom: 25px;
  }
  h1{
    margin-bottom: 29px;
  }
}
.btn-bg{
  border-radius: 15px;
  height: 70px;
  line-height: 70px;
  display: flex;
  align-items: center;
  width: fit-content;
  &:before{
    background: url("../img/bg-btn.png")no-repeat center;
    border-radius: 15px;
  }
  &:after{
    border-radius: 15px;
  }
  b{
    font-weight: 600;
    font-size: 48px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    z-index: 2;
  }
}
.mission{
  padding: 110px 0 115px;
  position: relative;
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .bg{
    &:after{
      position: absolute;
      bottom: -230px;
      content: '';
      width: 547px;
      height: 547px;
      left: -230px;
      background: #4DD4FF;
      opacity: 0.2;
      filter: blur(100px);
      border-radius: 100%;
    }
  }
  figure{
    width: 44%;
    text-align: center;
  }
  .text{
    width: 48.7%;
    padding-top: 10px;
  }
  p{
    margin-bottom: 25px;
  }
}
.story{
  padding: 122px 0 120px;
  position: relative;
  .bg{
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .text{
    width: 48%;
    padding-top: 25px;
  }
  p{
    margin-bottom: 25px;
  }
  figure{
    width: 48.7%;
    border-radius: 15px;
    img{
      border-radius: 15px;
      width: 100%;
      background: rgba(255, 255, 255, 0.7);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(7.5px);
    }
  }
}

.number-block{
  padding: 121px 0 120px;
  .content-width{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px 30px;
  }
  .item{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    height: 118px;
    h6{
      background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 5px;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
      text-align: center;
    }
    p{
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #3E3E3E;
    }
  }
}

.video-section{
  .video-wrap{
    padding-top: 56.2%;
    position: relative;
    a{
      position: absolute;
      top: 0;
      left: 0;
    }
    &>img{
      border-radius: 15px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .icon-wrap{
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      opacity: 0.7;
      width: 128px;
      height: 128px;
      border-radius: 100%;
      transform: translate(-50%,-50%);
      padding: 0 0 0 20px;
      transition: all .4s ease;
    }
    &:hover{
      .icon-wrap{
        width: 140px;
        height: 140px;
      }
    }
  }
}

.section-form{
  padding: 120px 0 120px;
  .content{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(93.88deg, #F7F4FF 12.3%, #E9F3FF 88.21%);
  }
  .wrap{
    position: relative;
    z-index: 2;
    padding: 50px 50px;
  }
  h3{
    margin-bottom: 40px;
  }
}

.form-default{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .input-wrap{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    input{
      width:100%;
      outline: none!important;
      background: transparent;
      border: none;
      height: 50px;
      border-radius: 0;
      line-height: 50px;
      padding: 0;
      font-size: 18px;
      color: #151618;
      position: relative;
      z-index: 2;
      border-bottom: 1px solid #62679A;
    }
    label{
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 18px;
      color: #3E3E3E;
      transition: all .4s ease;
    }
    .is-focus, .is-active{
      font-size: 12px;
      top: -8px;
    }
  }
  .input-wrap-33{
    width: calc(33.33% - 20px);
  }
  .input-wrap-submit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    p{
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #3E3E3E;
      width: 250px;
      margin-right: 25px;
    }
    button{
      border: none;
      cursor: pointer;
      min-width: 160px;
    }
  }
}

.video-section .video-wrap a{
  width: 100%;
  &>img{
    width: 100%;
  }
}
.video-section .video-wrap a > img{
  border-radius: 15px;
}
/*---------------------------END-PAGE-ABOUT--------------------------*/
/*----------------------------PAGE-COURSE--------------------------*/
.course-head{
  position: relative;
  padding: 205px 0 110px;
  .bg{
    img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .left{
    width: 47%;
    padding-top: 30px;
  }
  .stars-wrap{
    margin-bottom: 20px;
  }
  h1{
    margin-bottom: 28px;
  }
  p{
    margin-bottom: 30px;
  }
  .btn-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
    a + a{
      margin-left: 20px;
    }
    .btn-border{
      min-width: 220px;
    }
  }
  figure{
    width: 53%;
    img{
      position: relative;
      left: -25px;
    }
  }
}
.btn-border{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 48px;
  color: #151618;
  height: 50px;
  border: 1px solid #151618;
  border-radius: 62px;
  padding: 0 30px;
  text-align: center;
  &:hover{
    color: rgba(11, 110, 243, 1);
    border-color: rgba(11, 110, 243, 1);
  }
}

.course-benefits{
  position: relative;
  padding: 100px 0 72px;
  .bg{
    &:after{
      position: absolute;
      width: 547px;
      height: 547px;
      bottom: 20px;
      left: -50%;
      background: #4DD4FF;
      opacity: 0.2;
      filter: blur(100px);
      content: '';
      border-radius: 100%;
    }
  }
  .top{
    width: 550px;
    margin: 0 auto 25px;
    text-align: center;
    p{
      text-align: center;
    }
  }
  h2{
    text-align: center;
    margin-bottom: 11px;
  }
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .item{

    border-radius: 15px;
    margin-bottom: 30px;
    padding: 25px 25px;
    h5{
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: #FFFFFF;
      margin: 0;
    }
    h6{
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
      margin-bottom: 15px;
    }
    .icon-wrap{
      margin-bottom: 6px;
    }
  }
  .item-1{
    width: 100%;
    background: url('../img/bg-7.png')no-repeat center;
    background-size: cover;
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-2, .item-3, .item-4{
    width: calc(33.33% - 20px);
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
  }
  .item-5{
    width: calc(66.66% - 20px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    height: 119px;
    .wrap{
      width: 25%;
    }
    .wrap-1{
      width: 40%;
    }
    .wrap-3{
      width: 22%;
      margin-left: 15px;
    }
  }
  .item-6{
    width: calc(33.33% - 20px);
    background: url('../img/bg-8.png')no-repeat center;
    background-size: cover;
    height: 119px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-wrap{
    width: 100%;
    text-align: center;
    a{
      width: 220px;
    }
  }
}

.work{
  background: #EBEEFB;
  padding: 14px 0 0;
  h6{
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #151618;
    width: 175px;
    padding-bottom: 14px;
  }
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .swiper-slide{
    height: 90px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  .slider-wrap{
    width: calc(100% - 200px);
  }
  .swiper-pagination-progressbar{
    bottom: 0;
    top: inherit;
    background: #D4E1FF;
    border-radius: 9px;
  }
  .work-slider{
    padding-bottom: 14px;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    border-radius: 9px;
  }
}

.time-line{
  position: relative;
  padding: 120px 0 122px;
  .bg{
    img{
      position: absolute;
      top: 182px;
      left: 50%;
      transform: translate(-50%,0);
    }
    &:after{
      width: 547px;
      height: 547px;
      left: calc(100% - 225px);
      top: 0;
      position: absolute;
      background: #4DD4FF;
      opacity: 0.2;
      filter: blur(100px);
      content:'';
      border-radius: 100%;
    }
  }
  h2{
    text-align: center;
    margin-bottom: 38px;
  }
  .line{
    margin-bottom: 20px;
    img{
      width: 100%;
    }
  }
  .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }
  .item{
    position: relative;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;

    p{
      margin-bottom: 15px;
    }
    h6{
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
      margin: 0;
    }
    &:before{
      position: absolute;
      top: -35px;
      left: 27px;
      content: '';
      width: 21px;
      height: 41px;
      background: url("../img/icon-6.svg")no-repeat center;
      background-size: contain;
    }
  }
  .item-1:before{
    display: none;
  }
}

.founder{
  padding: 110px 0 116px;
  position: relative;
  .bg{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h2{
    text-align: center;
    margin-bottom: 30px;
  }
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;

  }
  .text{
    width: 51.2%;
    padding: 50px 50px;
  }
  h3{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #151618;
    margin-bottom: 10px;
  }
  h6{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 12px;
  }
  figure{
    width: 48.8%;
    border-radius: 0 15px 15px 0;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    img{
      width: 100%;
      border-radius: 0 15px 15px 0;
    }
  }
  .btn-wrap{
    margin-top: 30px;
    text-align: center;
    a{
      width: 175px;
    }
  }
}

.number-block-4n{
  padding: 98px 0 50px;
   .content-width {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.faq-ol{
  padding: 58px 0 100px;
  h2{
    text-align: center;
    margin-bottom: 40px;
  }
  .btn-wrap{
    text-align: center;
    margin-top: 30px;
    a{
      width: 220px;
    }
  }
}

ol.accordion{
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  &>li{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;
    counter-increment: li;
    margin-bottom: 30px;
    .accordion-thumb{
      cursor: pointer;
      padding: 30px 60px 30px 40px;
      position: relative;
      &:after{
        position: absolute;
        top: 50%;
        right: 40px;
        content: '';
        width: 23px;
        height: 14px;
        background: url("../img/icon-7.svg")no-repeat center;
        background-size: contain;
        margin-top: 3px;
      }
    }

    h3{
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #151618;
      margin: 0;
      transition: all .4s ease;
      &:before{
        position: relative;
        margin-right: 10px;
        display: inline-block;
        content: "0"counter(li) ".";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #151618;
        transition: all .4s ease;
      }
    }
    &:hover{
      h3{
        color: rgba(11, 110, 243, 1);
        &:before{
          color: rgba(11, 110, 243, 1);
        }
      }
    }
  }
  &>li:last-child{
    margin: 0;
  }
  .is-active{
    .accordion-thumb:after{
      transform: scale(1,-1);
    }
  }
  .accordion-panel{
    display: none;
    .wrap{
      margin-top: -10px;
      padding: 2px 53px 40px;
    }
    ul{
      li{
        position: relative;
        padding-left: 15px;
        margin-bottom: 10px;
        p{
          display: flex;
        }
        b{
          display: inline-block;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
          color: #3E3E3E;
          white-space: nowrap;
          margin-right: 5px;
        }
        &:before{
          position: absolute;
          top: 12px;
          left: 0;
          content: '';
          width: 4px;
          height: 4px;
          background: #3E3E3E;
          border-radius: 100%;
        }
      }
      li:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.bg-after{
  position: relative;
  .bg{
    &:before{
      width: 547px;
      height: 547px;
      background: #35E6BB;
      opacity: 0.1;
      filter: blur(100px);
      border-radius: 100%;
      bottom: 220px;
      left: -220px;
      content: '';
      position: absolute;
    }
    &:after{
      width: 547px;
      height: 547px;
      background: #4DD4FF;
      opacity: 0.2;
      filter: blur(100px);
      border-radius: 100%;
      top: 65px;
      right: -220px;
      content: '';
      position: absolute;
    }
  }
}

.take-course{
  position: relative;
  padding: 110px 0 103px;
  .bg{
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .top{
    margin-bottom: 25px;
    text-align: center;
    p{
      text-align: center;
    }
  }
  h2{
    text-align: center;
    margin-bottom: 27px;
  }
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .item{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;
    overflow: hidden;
    padding: 40px;
    width: 49%;
    position: relative;
    &:after{
      position: absolute;
      bottom: -155px;
      right: -98px;
      content: '';
      width: 325px;
      height: 325px;
      background: #E6F1FF;
      border-radius: 100%;
    }
    h3{
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #151618;
      margin-bottom: 17px;
      max-width: 80%;
    }
    p.cost{
      font-style: normal;
      font-weight: 600;
      font-size: 54px;
      line-height: 66px;
      background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-bottom: 15px;
    }
    .info{
      position: absolute;
      bottom: 35px;
      right: 50px;
      z-index: 2;
      min-width: 115px;
      p{
        margin-bottom: 5px;
      }
      h6{
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #151618;
        margin: 0;
      }
    }
    .btn-wrap{
      margin-bottom: -10px;
      a{
        width: 185px;
      }
    }
  }
  .item-1{
    width: 100%;
    padding: 25px 80px;
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    &:after{
      display: none;
    }
    p{
      margin-bottom: 10px;
    }
    h6{
      margin-bottom: -2px;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
    }
    .wrap{
      width: 25%;
    }
    .wrap-3{
      width: 36%;
    }
    .wrap-4{
      width: 14%;
    }
  }
}

.course-2item{
  padding: 119px 0 10px;
  h2{
    text-align: center;
    margin-bottom: 25px;
  }
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .item{
    width: 49%;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;
    padding: 22px 27px 35px;
    transition: all .4s ease;
    figure{
      height: 217px;
      margin-bottom: 20px;
    }
    .info{
      position: absolute;
      top: 15px;
      right: 15px;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      img{
        margin-right: 5px;
      }
    }
    h6{
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
      margin-bottom: 15px;
    }
    p{
      margin-bottom: 15px;
    }
    &:hover{
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    }
  }
}

.link{
  display: flex;
  align-items: center;
  width: fit-content;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  img{
    margin-left: 10px;
    position: relative;
    transition: all .4s ease;
    left: 0;
  }
  &:hover{
    img{
      left: 2px;
    }
  }
}

.faq-ul{
  padding: 110px 0 100px;
  position: relative;
  h2{
    text-align: center;
    margin-bottom: 20px;
  }
  .btn-wrap{
    margin-top: 30px;
    text-align: center;
    a{
      width: 220px;
    }
  }
  .bg{
    &:after{
      position: absolute;
      border-radius: 100%;
      width: 547px;
      height: 547px;
      left: -222px;
      top: 0;
      background: #35E6BB;
      opacity: 0.1;
      filter: blur(100px);
      content: '';
    }
  }
}

ul.accordion{
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7.5px);
  border-radius: 15px;
  overflow: hidden;
  padding: 20px 0;
  .accordion-item{
    position: relative;
    &:after{
      position: absolute;
      bottom: 0;
      left: 50px;
      right: 50px;
      content: '';
      height: 1px;
      border-bottom: 1px solid #9B9B9B;
    }
  }
  .accordion-thumb{
    cursor: pointer;
    padding: 30px 50px 30px;
    position: relative;
    &:after{
      position: absolute;
      top: 50%;
      right: 50px;
      content: '';
      width: 23px;
      height: 14px;
      background: url(../img/icon-7.svg) no-repeat center;
      background-size: contain;
      margin-top: -14px;
    }
    h6{
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #151618;
      margin: 0;
      padding-right: 70px;
    }
  }
  .accordion-panel{
    display: none;
    .wrap{
      padding: 0 50px 30px;
      margin: -20px 0 0;
      p{
        margin-bottom: 20px;
      }
      p:last-child{
        margin-bottom: 0;
      }
    }
  }
  .accordion-item:last-child{
    &:after{
      display: none;
    }
  }
  .is-active{
    .accordion-thumb:after{
      transform: scale(1,-1);
    }
  }
}
.reviews{
  padding: 105px 0 110px;
  position: relative;
  .bg{
    &:after{
      position: absolute;
      width: 547px;
      height: 547px;
      bottom: 30px;
      right: -220px;
      background: #4DD4FF;
      opacity: 0.2;
      filter: blur(100px);
      content: '';
      border-radius: 100%;
    }
  }
  h2{
    text-align: center;
    margin-bottom: 0;
  }
  .btn-wrap{
    margin-top: 10px;
    text-align: center;
    a{
      width: 180px;
    }
  }
}
.reviews-slider{
  padding: 20px;
  margin-left: -20px;
  width: calc(100% + 40px);
  max-width: calc(100% + 40px);
  .swiper-slide{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;
    padding: 25px 25px;
    .text{
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #ADAACF;
      p{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #3E3E3E;
      }
    }
  }
  .name{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    figure{
      padding: 10px;
      width: 58px;
      img{
        width: 100%;
        height: auto;
        border-radius: 20px;
      }
    }
    .wrap{
      width: calc(100% - 60px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      h6{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #151618;
        margin-bottom: 0;
      }
      p{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #3E3E3E;
      }
    }
  }
}

.swiper-pagination-bullets{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    background: #D0D6EE;
    border: 1px solid #D0D6EE;
    margin: 0 8px!important;
    opacity: 1!important;
    &:hover{
      border: 1px solid rgba(11, 110, 243, 1);
    }
  }
  .swiper-pagination-bullet-active{
    border: 1px solid rgba(11, 110, 243, 1);
    background: rgba(11, 110, 243, 1);
  }
}

.video-section{
  padding: 100px 0 100px;
  position: relative;
  h2{
    text-align: center;
    margin-bottom: 20px;
  }
}
.video-section-slider{
  padding: 1px 0 120px;
  .video-wrap {
    padding-top: 63.2%;
  }
}

.founder figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*---------------------------END-PAGE-COURSE--------------------------*/
/*--------------------------PAGE-HOME--------------------------*/
.home-head{
  padding-bottom: 3px;
  h1{
    white-space: nowrap;
  }
  figure{
    img{
      width: 680px;
      position: relative;
      max-width: inherit;
      top: -60px;
      left: 25px;
    }
  }
  .btn-wrap{
    a{
      width: 155px;
      padding: 0 20px;

    }
    .btn-border{
      min-width: 170px!important;
    }
  }
}

.register{
  padding: 100px 0 20px;
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05), inset 0px 4px 20px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 15px;
  }
  .text{
    position: relative;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
    background: linear-gradient(90.7deg, #0B6EF3 16.3%, #2884FF 89.52%);
    width: 51%;
    padding: 75px 50px;
    .wrap{
      position: relative;
      z-index: 2;
    }
    *{
      color: #fff;
    }
  }
  .bg{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .form-wrap{
    width: 49%;
    padding: 62px 51px;
  }
  h3{
    margin-bottom: 20px;
  }
  p + p{
    display: flex;
    align-items: center;
    margin-top: 15px;
    img{
      margin-right: 15px;
    }
  }
  .form-default .input-wrap{
    margin-bottom: 15px;
  }
  .form-default .input-wrap-submit button{
    width: 185px;
  }
  .form-default .input-wrap-submit{
    justify-content: space-between;
  }
}

.course-3item{
  padding: 80px 0 105px;
  position: relative;
  .item{
    width: calc(33.33% - 20px);
  }
  .bg{
    img{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0);
    }
  }
}

.number-block-top{
  position: relative;
  padding: 95px 0 85px;
  .bg{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .top{
    width: 600px;
    margin: 0 auto 25px;
    p{
      text-align: center;
      padding: 0 20px;
    }
  }
  h2{
    text-align: center;
    margin-bottom: 26px;
  }
  .btn-wrap{
    margin-top: 25px;
    text-align: center;
    a{
      width: 175px;
    }
  }
}

.text-block{
  position: relative;
  padding: 120px 0 0;
  .bg{
    span{
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:before{
        position: absolute;
        bottom: 170px;
        right: -220px;
        content: '';
        width: 547px;
        height: 547px;
        background: #35E6BB;
        opacity: 0.1;
        filter: blur(100px);
        border-radius: 100%;
      }
    }
    &:after{
      position: absolute;
      top: 950px;
      left: -220px;
      content: '';
      width: 547px;
      height: 547px;
      background: #35E6BB;
      opacity: 0.1;
      filter: blur(100px);
      border-radius: 100%;
    }
    &:before{
      position: absolute;
      top: 200px;
      right: -220px;
      content: '';
      width: 547px;
      height: 547px;
      background: #35E6BB;
      opacity: 0.1;
      filter: blur(100px);
      border-radius: 100%;
    }
  }
  .item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;
    figure{
      width: 310px;
    }
    .text{
      width: calc(100% - 410px);
    }
  }
  h2{
    margin-bottom: 25px;
  }
  .btn-wrap{
    margin-top: 23px;
    a{
      width: 180px;
    }
  }
  .item:nth-child(2n){
    flex-direction: row-reverse;
  }
  ul{
    margin-bottom: 10px;
    li{
      padding-left: 27px;
      position: relative;
      &:before{
        position: absolute;
        top: 14px;
        left: 12px;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        content: '';
        background: #3E3E3E;
      }
    }
  }
  p{
    margin-bottom: 10px;
  }
  .item:last-child{
    margin-bottom: 0;
  }
}
/*-------------------------END-PAGE-HOME--------------------------*/
